.header {
  max-width: 880px;
  min-width: 320px;
  width: 100%;
  padding: 45px 0 40px;
  border-bottom: solid 1px #545454;
}

@media screen and (max-width: 880px) {
  .header {
  padding: 28px 0 30px;
  }
}
