.user__profile {
  font-weight: 400;
  font-size: calc(14px + 4*(100vw - 320px)/960);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 480px;
}

@media screen and (max-width: 950px) {
  .user__profile {
    max-width: 189px;
  }
}

@media screen and (min-width: 1281px) {
  .user__profile {
    font-size: 18px;
  }
}
