.user__container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 580px;
  width: 100%;
  padding-left: 30px;
}

@media screen and (max-width: 880px) {
  .user__container {
    padding: 26px 0 36px;
    align-items: center;
    row-gap: 14px;
  }
}
